[flake8]
max-line-length = 120
exclude = 
    venv311/,
    .venv/,
    venv/,
    env/,
    .env/,
    node_modules/,
    .git/,
    __pycache__/,
    *.pyc,
    .pytest_cache/,
    migrations/,
    static/admin/,
    static/rest_framework/,
    ephemeris/,
    .github/,
    logs/,
    *.log,
    db.sqlite3,
    dir.zip,
    chart.zip
ignore = 
    E203,
    E501,
    W503,
    F401,
    F403,
    F405,
    F821,
    F822,
    F824,
    E999,
    E722
per-file-ignores =
    __init__.py:F401,F403
    */migrations/*:E501,F401
    */tests/*:E501
    manage.py:E501 